.filmvermittlung-profile-extension {

    // basic starts
    .default-row{
        row-gap: $grid-gutter-width;

        &.sm-row{
            row-gap: 20px;
        }
    }
    .global-ext-container {
        max-width: var(--container-width);
    }

    .global-radius-1 {
        @include border-radius(10px);
    }

    .primary-color-dark {
        color: var(--ext-primary-color-dark);
    }

    .color-inherit {
        color: inherit;
    }

    .mb-4-plus{
        margin-bottom: 1.9rem;
    }

    .mb-5-plus{
        margin-bottom: 5.2rem;
    }

    // basic ends

    // typography
    p {
        font-size: 24px;
        line-height: 30px;
    }

    .font-secondary {
        font-family: var(--ext-secondary-font);
    }

    // typography


    // profile-basic-info
    .profile-basic-info {
        p {
            padding-left: 45px;
        }
    }

    // profile-basic-info

    // has status
    .has-status {
        position: relative;

        &.status-light-blue {
            &:before {
                background-color: var(--light-blue);
            }
        }

        &:before {
            content: ' ';
            display: block;
            width: 17px;
            height: 17px;
            @include border-radius(100%);
            position: absolute;
            left: 0px;
            top: 7px;
        }
    }

    // has status

    // profile-detail-module
    .profile-detail-module {
        .profile-name {
            font-size: 48px;
            line-height: normal;

            span {
                font-size: 30px;
                line-height: normal;
                padding-left: 10px;
            }
        }
    }

    // profile-detail-module

    // ext-tags
    .ext-tags{
        & > .main-wrap{
            display: flex;
            column-gap: 5px;
            row-gap: 5px;
            flex-wrap: wrap;

            & > div{
                padding: 8px 15px;
                background-color: var(--ext-primary-color);
                color: white;
                font-family: var(--ext-secondary-font);
                font-size: 24px;
                line-height: normal;
            }
        }
    }
    // ext-tags

    // iconic-label
    .iconic-label{
        & > .main-wrap{
            display: flex;
            column-gap: 70px;
            row-gap: 70px;


            & > div{
                display: flex;
                column-gap: 25px;
                row-gap: 25px;
                font-family: var(--ext-third-font);
                font-size: 16px;
                line-height: normal;
                align-items: center;
            }

            img{
                width: 45px;
                height: auto;
            }
        }
    }
    // iconic-label

    // logo-module
    .logo-module{
        .logo-holder{
            justify-content: center;
            display: grid;
            align-items: center;
            border: 1px solid var(--ext-primary-color);

            img{
                max-height: 150px;
                max-width: 100%;
            }
        }
    }
    // logo-module

    // filter-params-module
    .filter-params-module{
        & > .main-wrap{
            display: flex;
            column-gap: 10px;
            row-gap: 10px;
            flex-wrap: wrap;
        }

        .filter-param-field-box{
            flex-grow: 1;

            &.min-width-1{
                min-width: 280px;
            }

            &.xs-field-box{
                width: 75px;
                flex-grow: inherit;
                min-width: auto;
            }
        }

        .dropdown-menu{
            width: 100%;
            @include border-radius(0px);

            .item-no-link{
                padding: 20px 15px;
            }
        }

        .btn{
            @include border-radius(0px);
            padding: 0 35px 0 20px;
            height: 70px;
            font-family: var(--ext-secondary-font); 
            line-height: normal;
            border: none;
            text-align: left;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            // &:focus{
            //     background-color: var(--ext-primary-color);
            //     color: white;
            // }
            &.reset-btn{
                background-image: url('../Images/Filter_löschen.png');
                background-size: 35px;
            }
            &.tick-btn{
                background-image: url('../Images/Filter_anwenden.png');
                background-size: 40px;
            }

            &.icon-btn{
                padding: 0px;
            }

          

            &.dropdown-toggle{
                &.show{
                    background-color: var(--ext-primary-color);
                    color: white;
                }
                &:after{
                    border-width: 0.5em;
                    margin-left: 13px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
    // filter-params-module

    // custom check radio
    .custom-check-radio{
        & > .main-wrap{
            display: flex;
            column-gap: 10px;
            align-items: top;
        }

        label{
           cursor: pointer;
           max-width: 75%;
           line-height: 27px;
        }

        .the-check-radio{
            width: 27px;
            height: 27px;
            @include border-radius(100%);
            border: 2px solid;
            position: relative;
            overflow: hidden;

            input{
                border: none;
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                opacity: 0;
                position: absolute;
                left: 0px;
                top: 0px;
                cursor: pointer;
                &:checked{
                    & + .clone{
                        background-color: var(--ext-primary-color);
                    }
                }
            }
            .clone{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                pointer-events: none;
            }
        }
    }
    // custom check radio

}