@font-face {
    font-family: 'a Atomic Md';
    src: url('../Fonts/aAtomicMd.woff2') format('woff2'),
        url('../Fonts/aAtomicMd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Sathu';
    src: url('../Fonts/Sathu.woff2') format('woff2'),
        url('../Fonts/Sathu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

