// fonts
.filmvermittlung-profile-extension{
    --ext-primary-font: 'Sathu';
    --ext-secondary-font: 'a Atomic Md';
    --ext-third-font: 'Arial';
}











// colors
.filmvermittlung-profile-extension{
    --ext-primary-color: #682511;
    --ext-primary-color-dark: #3a2924;
    --light-blue: #5ed2f4;
    --site-grey: #dcdcdc;
}





// container width
.filmvermittlung-profile-extension{
    --container-width: 1200px;
}


